<div class="container">
  <h2 class="custom-heading text-center">Change Password</h2>
  <br>

  <div *ngIf="loading" class="loader-overlay">
      <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
  </div>

  <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
          <div class="card shadow">
              <div class="card-body">
                  <form #changePassForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(changePassForm)" novalidate>
                      <div class="mb-3">
                          <label for="oldPassword" class="form-label"><i class="fa fa-key"></i> Old Password</label>
                          <input type="password" id="oldPassword" name="oldPassword" class="form-control" [(ngModel)]="changePass.oldPassword" required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
                          <div *ngIf="changePassForm.controls['oldPassword']?.invalid && changePassForm.controls['oldPassword']?.touched">
                              <small class="text-danger" *ngIf="changePassForm.controls['oldPassword']?.errors?.['required']">Old password is required.</small>
                              <small class="text-danger" *ngIf="changePassForm.controls['oldPassword']?.errors?.['minlength']">Old password must be at least 8 characters long.</small>
                              <small class="text-danger" *ngIf="changePassForm.controls['oldPassword']?.errors?.['pattern']">Old password must be alphanumeric and contain at least one special character.</small>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label"><i class="fa fa-key"></i> New Password</label>
                          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="changePass.newPassword" required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
                          <div *ngIf="changePassForm.controls['password']?.invalid && changePassForm.controls['password']?.touched">
                              <small class="text-danger" *ngIf="changePassForm.controls['password']?.errors?.['required']">Password is required.</small>
                              <small class="text-danger" *ngIf="changePassForm.controls['password']?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                              <small class="text-danger" *ngIf="changePassForm.controls['password']?.errors?.['pattern']">Password must be alphanumeric and contain at least one special character.</small>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="confirmPassword" class="form-label"><i class="fa-solid fa-lock"></i> Confirm New Password</label>
                          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="changePass.confirmNewPassword" (input)="checkPasswords(changePassForm)" required>
                          <div *ngIf="changePassForm.controls['confirmPassword']?.invalid && changePassForm.controls['confirmPassword']?.touched">
                              <small class="text-danger" *ngIf="changePassForm.controls['confirmPassword']?.errors?.['required']">Confirm password is required.</small>
                              <small class="text-danger" *ngIf="changePassForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not match.</small>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between">
                          <button type="button" class="btn btn-outline-danger me-2" [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fas fa-arrow-left"></i></button>
                          <button type="submit" [disabled]="changePassForm.invalid" class="btn btn-primary btn-block ">Change</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
