<div class="container">
  <h2 class="custom-heading text-center">Forgot Password</h2>
  <br>
  <br>
  <div *ngIf="loading" class="loader-overlay">
      <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
  </div>

  <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
          <div class="card shadow">
              <div class="card-body">
                  <form #forgotPassForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(forgotPassForm)" novalidate>
                      <div class="mb-3">
                          <label class="form-label" for="loginId"><i class="fa fa-id-badge"></i> Login Id</label>
                          <input type="text" class="form-control" id="loginId" name="loginId" [(ngModel)]="user.loginId" required minlength="3">
                          <div *ngIf="forgotPassForm.controls['loginId']?.invalid && forgotPassForm.controls['loginId']?.touched">
                              <small class="text-danger" *ngIf="forgotPassForm.controls['loginId']?.errors?.['required']">Login id is required.</small>
                              <small class="text-danger" *ngIf="forgotPassForm.controls['loginId']?.errors?.['minlength']">Login id must be at least 3 characters long.</small>
                          </div>
                      </div>

                      <div class="mb-3">
                          <label class="form-label" for="email"><i class="fa fa-envelope"></i> Email</label>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="forgotPass.email" required email>
                          <div *ngIf="forgotPassForm.controls['email']?.invalid && forgotPassForm.controls['email']?.touched">
                              <small class="text-danger" *ngIf="forgotPassForm.controls['email']?.errors?.['required']">Email is required.</small>
                              <small class="text-danger" *ngIf="forgotPassForm.controls['email']?.errors?.['email']">Invalid email format.</small>
                          </div>
                      </div>

                      <div class="mb-3">
                          <label for="password" class="form-label"><i class="fa fa-key"></i> New Password</label>
                          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="forgotPass.newPassword" required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
                          <div *ngIf="forgotPassForm.controls['password']?.invalid && forgotPassForm.controls['password']?.touched">
                              <small class="text-danger" *ngIf="forgotPassForm.controls['password']?.errors?.['required']">Password is required.</small>
                              <small class="text-danger" *ngIf="forgotPassForm.controls['password']?.errors?.['minlength']">Password must be at least 8 characters long.</small>
                              <small class="text-danger" *ngIf="forgotPassForm.controls['password']?.errors?.['pattern']">Password must be alphanumeric and contain at least one special character.</small>
                          </div>
                      </div>

                      <div class="mb-3">
                          <label for="confirmPassword" class="form-label"><i class="fa-solid fa-lock"></i> Confirm new password</label>
                          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="forgotPass.confirmNewPassword" (input)="checkPasswords(forgotPassForm)" required>
                          <div *ngIf="forgotPassForm.controls['confirmPassword']?.invalid && forgotPassForm.controls['confirmPassword']?.touched">
                              <small class="text-danger" *ngIf="forgotPassForm.controls['confirmPassword']?.errors?.['required']">Confirm password is required.</small>
                              <small class="text-danger" *ngIf="forgotPassForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not match.</small>
                          </div>
                      </div>
                      
                      <div class="d-flex justify-content-between">
                          <button type="button" class="btn btn-outline-danger me-2" [routerLink]="['/signin']" routerLinkActive="router-link-active"><i class="fas fa-arrow-left"></i></button>
                          <button type="submit" [disabled]="forgotPassForm.invalid" class="btn btn-primary btn-block">Reset</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
