@if (!User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-action="Register" asp-controller="Auth"><span class="fas fa-user">Sign Up</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Login" asp-controller="Auth"><span class="fas fa-sign-in-alt">Sign In</span></a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="fas fa-user">@User.Identity.Name</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Logout" asp-controller="Auth"><span class="fas fa-user">Sign Out</span></a>
        </li>
    </ul>
}