<div class="container">
    <div class="text-center">
        <h1><b>Privacy Policy</b></h1>
        <br>
        <div>
            <h3>Introduction</h3>
        </div>
        <hr>
        <div>
            <h5>Welcome to ContactBook! Your privacy is critically important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our web application. Please read this policy carefully. If you do not agree with the terms of this Privacy Policy, please do not use the application.</h5>
        </div>
        <br>
        <h3>Information We Collect</h3>
        <hr>
        <h5>We collect several types of information for various purposes to provide and improve our service to you.</h5>
        <br>
        <h3>Personal Data</h3>
        <hr>
        <h5>While using our app, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to:

            Email address
            First name and last name
            Phone number
            Address, State, Province, ZIP/Postal code, City
            Contacts list from your device</h5>
            <br>
            <br>
            <button class="btn btn-outline-primary  me-2" [routerLink]="['/contact']" routerLinkActive="router-link-active" >
                ContactHub
            </button>
    </div>
    
</div>
