@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome To  <i class="fa-sharp fa-solid fa-phone"></i>ontactHub</h1>
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Contact" asp-action="Index">ContactHub</a>
</div>
