@model Contact

<h1>Modify Contact</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="contactId" />
    <div class="form-group">
        <label asp-for="FirstName" class="control-lable"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-lable"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-lable"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Company" class="control-lable"></label>
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContactNumber" class="control-lable"></label>
        <input asp-for="ContactNumber" class="form-control" />
        <span asp-validation-for="ContactNumber" class="text-danger"></span>
    </div>



    <div class="form-group">
        <input type="hidden" asp-for="FileName" />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</form>