html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-heading {
    margin-top: 20px;
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold; /* Makes the text bold */
    color: #000000; /* Custom color */
    text-align: center; /* Center the text */
}

.form-label {
    font-weight: bold;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-body {
    padding: 20px;
}

.btn-block {
    width: 100%;
}

.table {
    border-collapse: separate;
    border-spacing: 10px; /* Adjust the spacing as needed */
}

.table th,
 .table td {
    padding: 10px; /* Add padding if needed for content */
    text-align: center;

}