<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClientPhonebook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClientPhonebook.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <style>
        .navbar {
            background-color: #f8f9fa; /* Light grey background */
            box-shadow: 0 4px 2px -2px gray; /* Add a subtle shadow */
        }

        .navbar-brand {
            font-weight: bold; /* Make brand bold */
            font-size: 1.25rem; /* Increase font size */
        }

        .nav-link {
            font-size: 1rem; /* Standard font size */
            padding: 0.5rem 1rem; /* Increase padding for better touch target */
        }

        .navbar-toggler {
            border: none; /* Remove border around toggler */
        }

        .nav-item .nav-link {
            transition: color 0.3s; /* Smooth transition for color change */
        }

            .nav-item .nav-link:hover {
                color: #0056b3; /* Change color on hover */
            }

            .nav-item .nav-link .fas {
                margin-right: 0.5rem; /* Space between icon and text */
            }

        .navbar-nav.ml-auto {
            margin-left: auto; /* Align items to the right */
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-sharp fa-solid fa-phone"></i>ontactHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                         <li class="nav-item me-2">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Reports
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GetContactByCountry">CountryReport</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GetContactByGender">GenderReport</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GetContactByState">StateReport</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GetContactByMonth">MonthReport</a>
                                </li>
                            </ul>
                        </div>
                        

                    </ul>
                    @Html.Partial("_AuthenticationView")
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @{
                var successMessage = TempData["SuccessMessage"]?.ToString();
                var errorMessage = TempData["ErrorMessage"]?.ToString();
            }
            @if (!string.IsNullOrWhiteSpace(successMessage))
            {
                <div id="autoCloseAlert" class="alert alert-success alert-dismissible fade show">
                    <b>Success:</b> @successMessage
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div id="autoCloseAlert" class="alert alert-danger alert-dismissible fade show">
                    <b>Error:</b> @errorMessage
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-light">
        <div class="container text-center">
            &copy; 2024 - ClientPhonebook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        setTimeout(function () {
            document.getElementById('autoCloseAlert').classList.add('fade');
            document.getElementById('autoCloseAlert').classList.add('show');
            document.getElementById('autoCloseAlert').style.display = 'none';
        }, 5000)
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
