@using ClientPhonebook.ViewModel
@model ChangePasswordViewModel


<div class="container">
  <h2 class="custom-heading text-center">Change Password</h2>
  <br>

  <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
          <div class="card shadow">
              <div class="card-body">
                  <form asp-action="ChangePassword" method="post">
                      <div class="mb-3">
                            @* <label asp-for="LoginId" class="form-label"><i class="fa fa-id-badge"></i> LoginId</label> *@
                            <input type="hidden" asp-for="LoginId" value="@Model.LoginId" />
                            @* <input asp-for="LoginId" class="form-control"  disabled /> *@
                      </div>
                      <div class="mb-3">
                            <label asp-for="OldPassword" class="form-label"><i class="fa fa-key"></i> OldPassword</label>
                            <input asp-for="OldPassword" type="password" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                      </div>
                      <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"><i class="fa fa-key"></i> NewPassword</label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                      </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmNewPassword" class="form-label"><i class="fa-solid fa-lock"></i> ConfirmNewPassword</label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                      <div class="d-flex justify-content-between">
                          <a type="button" class="btn btn-outline-danger me-3" asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-primary btn-block " >Change</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
