@using ClientPhonebook.ViewModel
@model LoginViewModel


<div class="container">
    <h2 class="custom-heading text-center">SIGN IN</h2>

    <br />

    <div class="position-relative">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <form asp-action="LoginUser" method="post">

                            <div class="form-group mb-3">
                                <label asp-for="Username" class="form-label"><i class="fa fa-user"></i> Username</label>
                                <input asp-for="Username" class="form-control" placeholder="Enter username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-3">
                                <label asp-for="Password" class="form-label"><i class="fa fa-key"></i> Password</label>
                                <input asp-for="Password" class="form-control" placeholder="Enter password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                          
                            <div class="d-flex justify-content-between">
                                <a asp-action="ForgotPassword" class="btn btn-outline-warning me-3" asp-controller="Auth">ForgotPassword</a>
                                <input type="submit" value="SignIn" class="btn btn-primary btn-block me-3" />
                                <a asp-action="RegisterUser" class="btn btn-outline-success me-3" asp-controller="Auth">SignUp</a>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
</div>
