<footer class="footer bg-dark text-light py-1">
    <div class="container text-center">
        <!-- &copy; 2024 - Phonebook - 
        <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" class="text-light">Privacy</a> -->
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                &copy; 2024 - Phonebook
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" class="text-light">Privacy</a>
            </div>
            <div class="col-md-4">
                <a href="https://facebook.com" target="_blank" class="text-light me-3">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com" target="_blank" class="text-light me-3">
                    <i class="fab fa-x"></i>
                </a>
                <a href="https://instagram.com" target="_blank" class="text-light">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
